EMAIL=YOUR EMAIL
NODERED_DOMAIN_DUCKNS=noderedDev.DOMAIN.duckdns.org
HASSIO_DOMAIN_DUCKNS=homeassistantDev.DOMAIN.duckdns.org
NEXTCLOUD_DOMAIN_DUCKNS=nextcloudDev.DOMAIN.duckdns.org
MYSQL_ROOT_PASSWORD=ROOT PASS
MYSQL_PASSWORD=ROOT PASSS
MYSQL_DATABASE=test
MYSQL_USER=USER
test2